*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.cont{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img{
    height: 630px;
    width: 1100px;
    background: linear-gradient(rgba(0, 0, 0, 0.50) 0%,rgba(0, 0, 0, 0.50) 100%) ,url('https://assets.tonica.la/__export/1581546606912/sites/debate/img/2020/02/12/vikings.jpg_673822677.jpg');
    background-position: center center;
    color: #ffffff;

    display: flex;
    align-items: flex-end;
}
